.align-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

::placeholder {
    text-align: center;
}

form button {
    width: 100%;
    margin-top: 10px;
    background-color: rgb(255, 128, 0);
    padding: .5em 1.5em;

}

label {
    display: flex;
    flex-direction: column;
    text-align: center;
}

input {
    padding: .5rem;
    margin: 3px;
}